.jumbotron {
    background-image: url(img/black.jpg);
    background-size: cover;
    height: 720px;
    text-align: center;

}
.jumbotron .display-4 {
    color: darkturquoise;
}
.jumbotron p {
    color: darkturquoise;
    font-size: 25px;
}

@font-face {
    font-family: tulisan_keren;
    src: url(RedRock\ \(free\ for\ personal\ use\).ttf);
}

h1, h2, h3, h4, h5, h6, p, a {
font-family: 'tulisan_keren';
font-size: medium;
font-variant: inherit;
color: darkturquoise;
}